Source: matlab
Section: math
Priority: optional
Maintainer: Julien Guillod <julien.guillod@sorbonne-universite.fr>
Build-Depends: debhelper (>=11~)
Standards-Version: 4.1.4
Homepage: https://www.mathworks.com/products/matlab.html

Package: matlab
Architecture: amd64
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Commercial computational software program.
 Commercial computational software program used in scientific used in
 scientific, engineering, and mathematical fields and other areas of
 technical computing.
